@model FirstApplicationInWeb.Models.Movie

@{
    ViewBag.Title = "PictureUpload";
}

<h2>PictureUpload</h2>


@using (Html.BeginForm("PictureUpload", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.ID)
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
